#app {
  height: 100%;
}
html,
body {
  height: 100%;
}

body {
  background-color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.mySwiper {
  width: 100%;
  max-width: 900px;
  height: 400px;
  margin: 0 auto;
  padding: 7px !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

p {
    color: black;
    font-weight: 500;
    font-size: 20px;
}
