img{
    width: 100px;
    height: 100px;
}
.modal{
    display: flex;
}
h2{
    text-align: left;
}
button{

    display: flex;
    align-items: center;
    text-align: left;
    background-color: orange;
    margin-left: 10%;
}

.baby-modal{
display: grid;
text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}