img{
    width: 100px;
    height: 100px;
}
.modal{
    display: flex;
}
h2{
    text-align: left;
}
button{
    display: flex;
    align-self: start;
    background-color: orange;
}

.baby-modal{
display: grid;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}